@model IEnumerable<AppleStore.Model.SanPham>
<div class="container">
    <div class="w3ls_logo_products_left">
        <h1><a href="/Home/Index"><span>Grocery</span> Store</a></h1>
    </div>
    <div class="w3ls_logo_products_left1">
        <ul class="special_items">
            @foreach (var category in Model.Select(x => x.TheLoai).Distinct())
            {
                <li><a href="@Url.Action("GetByCategoryId","Category",new { categoryId = category.MaTheLoai })">@category.TenTheLoai</a><i>/</i></li>
            }
        </ul>
    </div>
    <div class="w3ls_logo_products_left1">
        <ul class="phone_email">
            <li><i class="fa fa-phone" aria-hidden="true"></i>(+0123) 234 567</li>
            <li><i class="fa fa-envelope-o" aria-hidden="true"></i><a href="mailto:store@grocery.com">store@grocery.com</a></li>
        </ul>
    </div>
    <div class="clearfix"> </div>
</div>