@model IEnumerable<AppleStore.Model.SanPham>
<nav class="navbar nav_bottom">
    <div class="navbar-header nav_2">
        <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
        <ul class="nav navbar-nav nav_1">
            <li></li>
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("Detailes","Home",new { id=item.MaSanPham })">@item.TenSanPham</a></li>
            }
        </ul>
    </div>
</nav>

